// Catppuccin
$rosewater: #f4dbd6;
$flamingo: #f0c6c6;
$pink: #f5bde6;
$mauve: #c6a0f6;
$red: #ed8796;
$maroon: #ee99a0;
$peach: #f5a97f;
$yellow: #eed49f;
$green: #a6da95;
$teal: #8bd5ca;
$sky: #91d7e3;
$sapphire: #7dc4e4;
$blue: #8aadf4;
$lavender: #b7bdf8;
$text: #cad3f5;
$subtext1: #b8c0e0;
$subtext0: #a5adcb;
$overlay2: #939ab7;
$overlay1: #8087a2;
$overlay0: #6e738d;
$surface2: #5b6078;
$surface1: #494d64;
$surface0: #363a4f;
$base: #24273a;
$mantle: #1e2030;
$crust: #181926;

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-size: 15px;
  font-family: Inter, FiraCode Nerd Font;
}

.bar {
  // border-radius: 30px;
  // background-color: $crust;
  color: $subtext1;
}

.workspaceoverlay {
    background-color: transparent;
}

.no-background {
    background-color: transparent;
}

// .hover-widget {
//   padding-right: 5px;
//   padding-left: 5px;
// }

scale > contents > trough {
  background-color: $surface1;
  border-radius: 50px;
  min-height: 3px;
  // max-height: 8px;
  min-width: 75px;
  margin-left: 5px;
  margin-right: 10px;
}

scale > contents > trough > slider {
  background-color: $text;
  border-radius: 50px;
  min-height: 15px;
  min-width: 15px;
  // margin-left: 5px;
  // margin-right: 5px;
}

.time {
  background-color: $lavender;
  color: $mantle;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding-right: 10px;
}

.battery {
  background-color: $lavender;
}

.temp {
  background-color: $lavender;
  color: $mantle;
}

.net {
  background-color: $lavender;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: $mantle;
}

.shown {
  background-color: $lavender;
  color: $mantle;
  padding-left: 5px;
  padding-right: 5px;
}

.hidden {
  background-color: $base;
  color: $text;
  padding-left: 5px;
  padding-right: 5px;
  // border-top-left-radius: 10px;
  // border-bottom-left-radius: 10px;
  // border-top-right-radius: 30px;
  // border-bottom-right-radius: 30px;
}

.stats {
  background-color: $lavender;
}

.volume {
  background-color: $lavender;
  color: $mantle;
}

.title {
  padding-left: 15px;
  padding-right: 15px;
  background-color: $lavender;
  color: $mantle;
  // color: $crust;
  // font-weight: bold;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

// .bar-left {
//   background-color: $lavender;
//   border-top-left-radius: 30px;
//   border-bottom-left-radius: 30px;
//   color: $mantle;
// }
//
.workspaces {
  background-color: $crust;
  color: $text;
  min-height: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.workspace-DP-2 {
  padding-left: 15px;
  // padding-right: 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.workspace-DP-4 {
  padding-left: 10px;
  padding-right: 15px;
  // background-color: $lavender;
  // color: $base;
  background-color: $base;
  // color: $base;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

// .workspace-DP-4 .selected {
//   color: $base;
// }

.bold {
  font-weight: bold;
}

.iconbox {
  color: $overlay1;
}

.selected {
  color: $lavender;
}

.urgent {
  color: $red;
}

.selected .number {
    font-weight: bold;
}

.process {
    font-style: oblique;
}

